<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ثبت‌نام</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <div class="signup-container">
        <h2>فرم ثبت‌نام</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(size=32) }}
                {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.confirm.label }}
                {{ form.confirm(size=32) }}
                {% for error in form.confirm.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
            <label for="captcha">پاسخ صحیح را واردکنید <strong>{{ captcha_question }}</strong></label>
            {{ form.captcha(size=10) }}
            {% for error in form.captcha.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
            
            <div class="form-group">
                {{ form.submit(class="btn") }}
            </div>
        </form>
        
        <a href="{{ url_for('auth.login') }}">قبلاً ثبت‌نام کرده‌اید؟ وارد شوید</a>
        <a href="{{ url_for('main.home') }}">بازگشت به صفحه اصلی</a>
    </div>
</body>
</html>